---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="pub-legend" style="margin-bottom:1rem; font-size:.95em;">
  <em>* co-first authors; # co-corresponding authors</em>
</div>

<ul style="list-style:none; padding-left:0; margin:0;">
  {% assign sorted_pubs = site.publications | sort: "date" | reverse %}
  {% for pub in sorted_pubs %}
    <li style="margin:0 0 .75rem 0;">
      {{ pub.citation | replace: "Wang, J.", "**Wang, J.**" | markdownify | strip_newlines | remove: '<p>' | remove: '</p>' }}
      {% if pub.paperurl %}
        [[link]]({{ pub.paperurl }})
      {% endif %}
    </li>
  {% endfor %}
</ul>


